div {
	position: relative;
}

div svg {
	position: absolute;
	box-sizing: border-box;
	top: 50%;
	left: 2px;
	transform: translateY(-50%);
	width: 1.5rem;
}

div input {
	box-sizing: border-box;
	width: 100%;
	padding-left: 1.5rem;
	height: 3rem;
	border-radius: 1rem;
	border: 1px solid;
	border-color: #a5a5a5a5;
	transition: 0.5s;
}

div input:active,
div input:focus {
	outline: transparent;
	border-color: #000;
}
